ion-slide {

  display: block;
  img {
    padding: 82px 23px 127px 21px;
    width: 286.23pt;
    
  }

  

}


.d{
  background-image: url("/assets/mainbg.png");background-repeat: no-repeat;background-size: cover;
}