<ion-header>
 
    <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
</ion-header>

<ion-content padding='true'>
    <div class="center">
      <img src="assets/g.png" />
     <p class="logina">Account Login</p>
    </div>
  <form>
    <ion-list class="background-input">
      <ion-item>
  
        <ion-input autocomplete="off" type="text" name="username" placeholder="Username" ></ion-input>
      </ion-item>
<br>
      <ion-item>
   
        <ion-input autocomplete="off" type="password" name="password" placeholder="Password"></ion-input>
      </ion-item>

 
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
             <ion-col>
          <div class="info">
            need an account? <a nav-transition="none" routerLink="/signup"   class="alogin">Sign Up</a>
            <br>
            forgot your password? <a class="alogin" >Retrive</a>
          </div>
        </ion-col>
        
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button expand="block" share="round"   (click)="loginAction()" >Login</ion-button>
          </div>
        </ion-col>
      
      </ion-row>
    </ion-grid>
    
   
  </form>
</ion-content>