<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="feed">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="map"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="card"></ion-icon>
      <ion-label>Payment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>